/*colors used:
Primary Color: #E8EDDD
Secondary color: #FFFFFF
Button Color: #3F6163

*/




body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px*/
  font-weight: 300; /*Sets the font weight to 300 light*/
  line-height: 1.6; /*Sets the line height to 1.6 * the font size */
  color:#3F6163;
}

header {

}

h1, h2, h3, h4 {
  line-height:1.4;
}
h1{
  font-family: 'Sofia', cursive;
  font-size: 3.25em;
}
h2{
  font-size:2.00em;
  font-weight:700;
}
h3{
  font-size: 1.75em;
  font-weight:400;
}
h4{
  font-size:1.00em;
  font-weight:400;
}

img {
  width: 100%;
}

a {
  color: #3F6163;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #ff7f50;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #3F6163;
}
a:active { /* selected link */
  color: #ff7f50;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 1px;
  border-radius: 1px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.logo {
  max-width: 100px; /* changed to 100px because 150 seemed too big */
}


/***************************************

Stuff I added for Task 1.6

***************************************/

/* Elements */

main {
  width:100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*display: inline-block;*/
}

nav > ul > li > a {
  padding: 0 10px; /* 0 padding on top and bottom, 10px padding on left and right*/
}

/* Classes */

.button:hover {
  opacity: .8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #3F6163;
  text-transform: uppercase;
  border: 2px solid #3F6163;
  border-radius: 3px;
  padding: 5px;
}

.button.contact:hover {
  background-color: #3F6163;
  color: #FFFFFF;
}

.button.learn-more {
  background-color: #3F6163;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 5px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button.learn-more:hover {
  background-color: #B4BFA3;
  color: #FFFFFF;
  opacity: 0.8;
}

.center-objects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.column {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.container-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.icon:hover {
  color: #FFFFFF;
}

.project { /* on the index.html page */
  padding: 0 0 10px 0; /* 0 on the top, right, and left, 10px padding on the bottom */
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #3F6163;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.social-icons:hover {
  opacity: .8;
}

.work-img {
  width: 50%;
  display: inline-block;
}
.work-text {
  width: 45%;
  padding: 20px;
  display: inline-block;
}

.list-inline { /* social icons in footer */
  padding-left: 0;
  list-style: none;
}

.list-inline > li { /* social icons in footer */
  display: inline-block;
}

/* IDs */

#hero {/* this is for the hero section on the index.html page */

}

#work { /* for the work section on the index.html page */
  background-color: #FFFFFF;
}

#index-body {
  background-color:#E8EDDD;
}

#about-body {
  background-color:#E8EBEC;
}

#about-photo {
  margin-left: auto;
  margin-right: auto;
}

#about-photo > div {
  width: 65%;
}

#DD-body {
  background-color:#E8EDDD;
}

#DD-main {
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
}

#email {
  margin-top: -20px;
}

#logo-image {
  /*max-width: 150px;*/
}

#social {

}

#skill-tools > div {
  display:inline-block;
  width: 100%;
}

#topnav {
  padding-top: 5px;
  padding-bottom: 10px;
}

#tools {
  margin-left: 125px;
}


/* Animations */

.sun
{
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}


.cloud-front
{
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-back
{
  animation: 34s cloud-move-reverse infinite alternate linear;
}


@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

#bigleaf
{
  animation-duration: 4s;
  animation-name: bigleaf-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes bigleaf-move
{
    from {transform: translate(197px,66px);}
    to {transform: translate(197px,105px);}
}


#Oval,
#Oval1
{
  animation-duration: 5s;
  animation-name: bigmoon-fade;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-timing-function: linear;
}

@keyframes bigmoon-fade
{
  0% {fill: #FFFFFF;}
  25% {fill: #CCE4E5;}
  50% {fill: #ADC9CB;}
  75% {fill: #CCE4E5;}
  100% {fill: #FFFFFF;}
}

/* Media Queries */

@media only screen and (min-width: 1024px) {
  /* For large screens when it is wider than 1024px */
  .work-img {
    width: 60%;
  }
  .work-text {
    width: 35%;
    padding: 20px;
  }
}

@media only screen and (min-width: 640px) {
  /* When the screen is wider than 640px, the below applies */
  nav {
    float: right; /* Makes nav stay on right of screen */
  }
  nav > ul > li {
    margin: 20px 3px 10px; /* Top margin of 33 px, left and Right of 3px, bottom of 10px */
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 639px) {
  /* When screens are smaller than 639 px */

  .column {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .work-img {
    width: 100%;
  }
  .work-text {
    width: 100%;
  }

  #about-photo > div {
    width: 100%;
    padding-top: 30px;
  }

  #logo-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #tools {
    margin-left: auto;
    margin-right: auto;
  }

}
