/*colors used:
Primary Color: #E8EDDD
Secondary color: #FFFFFF
Button Color: #FF7F4F

*/




body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px*/
  font-weight: 300; /*Sets the font weight to 300 light*/
  line-height: 1.6; /*Sets the line height to 1.6 * the font size */
  color:#3F6163;
}

h1, h2, h3, h4 {
  line-height:1.4;
}
h1{
  font-family: 'Sofia', cursive;
  font-size: 2.75em;
}
h2{
  font-size:2.25em;
  font-weight:700;
}
h3{
  font-size: 1.75em;
  font-weight:400;
}
h4{
  font-size:1.00em;
  font-weight:400;
}

img {
  width: 100%;
}

a {
  color: #3F6163;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #ff7f50;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #3F6163;
}
a:active { /* selected link */
  color: #ff7f50;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 1px;
  border-radius: 1px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.logo {
  max-width: 100px; /* changed to 100px because 150 seemed too big */
}


/***************************************

Stuff I added for Task 1.6

***************************************/

/* Elements */
main {
  width:100%;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px; /* 0 padding on top and bottom, 10px padding on left and right*/
}

/* Classes */

.button:hover {
  opacity: .8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FF7F50;
  text-transform: uppercase;
  border: 2px solid #FF7F50;
  border-radius: 3px;
  padding: 5px;
}

.button.contact:hover {
  background-color: #FF7F50;
  color: #FFFFFF
}

.testing {
  border: 1px solid black;
}

.button.learn-more {
  background-color: #E8EDDD;
  color: #FF7F50;
  text-transform: uppercase;
  border: 1px solid #FF7F50;
  border-radius: 3px;
  padding: 5px;
}

.button.learn-more:hover {
  background-color: #FF7F50;
  color: #FFFFFF
}

.center-text {
  text-align: center;
}

.project {
  padding: 0 0 10px 0; /* 0 on the top, right, and left, 10px padding on the bottom */
}

.social-icons:hover {
  opacity: .8;
}

.center-objects {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IDs */

#hero {/* this is for the hero section on the index.html page */

}

#work { /* for the work section on the index.html page */
  background-color: #FFFFFF;
}

#index-body {
  background-color:#E8EDDD;
}

#about-body {
  background-color:#E8EBEC;
}

#DD-body {
  background-color:#E8EDDD;
}

#DD-main {
  background-color: #FFFFFF;
}

#email {
  margin-top: -20px;
}

#social {
  margin-top: 10px;
}

#skill-tools > div {
  display:inline-block;
  width: 100%;
}

.thirty-percent {
  width: 25%;
}

#about-photo {
  display: inline-block;
}

#topnav {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 640px) {
  /* When the screen is wider than 640px, the below applies */
  nav {
    float: right; /* Makes nav stay on right of screen */
  }
  nav > ul > li {
    margin: 33px 3px 10px; /* Top margin of 33 px, left and rigth of 3px, bottom of 10px */
  }
}

@media only screen and (max-width: 639px) {
  /* When screens are smaller than 639 px */
  nav > ul {
    width: 100%;
    margin-top: 10px;
  }

  nav > ul > li {
    width: 32%;
    text-align: center;
  }

  #logo-image2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
